<div id="accordion">
  <div class="card" >
    <div class="card-header">
      <a class="card-link"  href="javascript:void(0);">
       LOGIN FORM
      </a>
    </div>

    <div class="card m-2 zero-border padding-zero jumbotron">
      <div class="card-body">
        <div class="col-md-8 offset-md-4">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="username" class="form-control col-md-6"
                     [(ngModel)]="username"
                     id="username"
                     [ngClass]="{ 'is-invalid': submitted && fc.username.errors }" />
              <div *ngIf="submitted && fc.username.errors" class="invalid-feedback">
                <div *ngIf="fc.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control col-md-6"
                     [(ngModel)]="password"
                     id="password"
                     [ngClass]="{ 'is-invalid': submitted && fc.password.errors }" />
              <div *ngIf="submitted && fc.password.errors" class="invalid-feedback">
                <div *ngIf="fc.password.errors.required">Password is required</div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary mr-1" *ngIf="!loading">Save</button>
              <button class="btn btn-primary mr-1" *ngIf="loading">
                <span class="spinner-border spinner-border-sm"></span>
                Loading..
              </button>

              <button class="btn btn-secondary" type="reset" (click)="onReset()">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
